README-PYPI.md
pyrightconfig.json
.speakeasy/reports
venv/
.venv/
.env
.env.docker
*.tar.gz
*.zip
src/*.egg-info/
*.egg-info/
__pycache__/
.pytest_cache/
.python-version
.DS_Store
build/
dist/
.aider*
lab/
.vscode
.coverage
coverage.xml
