# Minimal v1 OpenAPI spec for testing generation pipeline.
# This will be replaced with auto-generated spec from the API.
openapi: 3.1.0
info:
  title: HoneyHive API
  version: 1.0.0
servers:
  - url: https://api.honeyhive.ai
security:
  - bearerAuth: []
paths:
  /session/start:
    post:
      summary: Start a new session
      operationId: startSession
      tags:
        - Session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session:
                  $ref: '#/components/schemas/SessionStartRequest'
      responses:
        '200':
          description: Session successfully started
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    SessionStartRequest:
      type: object
      properties:
        project:
          type: string
          description: Project name associated with the session
        session_name:
          type: string
          description: Name of the session
        source:
          type: string
          description: Source of the session - production, staging, etc
        session_id:
          type: string
          description: Unique id of the session, if not set, it will be auto-generated
        children_ids:
          type: array
          items:
            type: string
          description: Id of events that are nested within the session
        config:
          type: object
          additionalProperties: true
          description: Associated configuration for the session
        inputs:
          type: object
          additionalProperties: true
          description: Input object passed to the session
        outputs:
          type: object
          additionalProperties: true
          description: Final output of the session
        error:
          type: string
          description: Any error description if session failed
        duration:
          type: number
          description: How long the session took in milliseconds
        user_properties:
          type: object
          additionalProperties: true
          description: Any user properties associated with the session
        metrics:
          type: object
          additionalProperties: true
          description: Any values computed over the output of the session
        feedback:
          type: object
          additionalProperties: true
          description: User feedback for the session
        metadata:
          type: object
          additionalProperties: true
          description: Any metadata associated with the session
      required:
        - project
