openapi: 3.1.0
info:
  title: HoneyHive API
  version: 1.1.0
servers:
  - url: https://api.honeyhive.ai
paths:
  /session/start:
    post:
      summary: Start a new session
      operationId: startSession
      tags:
        - Session
      description: Start a new session. The session field should contain a JSON-encoded session object as a string.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - session
              properties:
                session:
                  type: string
                  description: JSON-encoded session object containing session properties (session_id, project, session_name, source, user_properties, etc.)
      responses:
        '200':
          description: Session successfully started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSessionStartResponse'
  /v1/sessions/{session_id}:
    get:
      summary: Get session tree by session ID
      operationId: getSession
      description: Retrieve a complete session event tree including all nested events and metadata
      tags:
        - Sessions
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Session ID (UUIDv4)
      responses:
        '200':
          description: Session tree with nested events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
        '400':
          description: 'Missing required scope: org_id'
        '404':
          description: Session not found
        '500':
          description: Error fetching session
    delete:
      summary: Delete all events for a session
      operationId: deleteSession
      description: Delete all events associated with the given session ID from both events and aggregates tables
      tags:
        - Sessions
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Session ID (UUIDv4)
      responses:
        '200':
          description: Session deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSessionResponse'
        '400':
          description: Invalid session ID or missing required scope
        '500':
          description: Error deleting session
  /events:
    post:
      tags:
        - Events
      operationId: createEvent
      summary: Create a new event
      description: Please refer to our instrumentation guide for detailed information. The event field should contain a JSON-encoded event object as a string.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - event
              properties:
                event:
                  type: string
                  description: JSON-encoded event object containing event properties (event_id, session_id, event_type, event_name, inputs, outputs, etc.)
      responses:
        '200':
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEventResponse'
              example:
                event_id: 7f22137a-6911-4ed3-bc36-110f1dde6b66
                success: true
        '400':
          description: Bad request (invalid event data or missing required fields)
    put:
      tags:
        - Events
      operationId: updateEvent
      summary: Update an event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_id:
                  type: string
                metadata:
                  type: object
                  additionalProperties: true
                feedback:
                  type: object
                  additionalProperties: true
                metrics:
                  type: object
                  additionalProperties: true
                outputs:
                  type: object
                  additionalProperties: true
                config:
                  type: object
                  additionalProperties: true
                user_properties:
                  type: object
                  additionalProperties: true
                duration:
                  type: number
              required:
                - event_id
            example:
              event_id: 7f22137a-6911-4ed3-bc36-110f1dde6b66
              metadata:
                cost: 0.00008
                completion_tokens: 23
                prompt_tokens: 35
                total_tokens: 58
              feedback:
                rating: 5
              metrics:
                num_words: 2
              outputs:
                role: assistant
                content: Hello world
              config:
                template:
                  - role: system
                    content: Hello, {{ name }}!
              user_properties:
                user_id: 691b1f94-d38c-4e92-b051-5e03fee9ff86
              duration: 42
      responses:
        '200':
          description: Event updated
        '400':
          description: Bad request
    get:
      tags:
        - Events
      operationId: getEvents
      summary: Query events with filters and projections
      description: Retrieve events with optional filtering, projections, and pagination
      parameters:
        - name: dateRange
          in: query
          required: false
          schema:
            oneOf:
              - type: string
              - type: object
                properties:
                  $gte:
                    type: string
                    format: date-time
                  $lte:
                    type: string
                    format: date-time
          description: Date range filter (ISO string or object with $gte/$lte)
        - name: filters
          in: query
          required: false
          schema:
            oneOf:
              - type: array
                items:
                  type: object
              - type: string
          description: Array of filter objects or JSON string
        - name: projections
          in: query
          required: false
          schema:
            oneOf:
              - type: array
                items:
                  type: string
              - type: string
          description: Fields to include in response (array or JSON string)
        - name: ignore_order
          in: query
          required: false
          schema:
            oneOf:
              - type: boolean
              - type: string
          description: Whether to ignore ordering
        - name: limit
          in: query
          required: false
          schema:
            oneOf:
              - type: integer
              - type: string
          description: Maximum number of results (default 1000)
        - name: page
          in: query
          required: false
          schema:
            oneOf:
              - type: integer
              - type: string
          description: Page number (default 1)
        - name: evaluation_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by evaluation ID
      responses:
        '200':
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsResponse'
        '400':
          description: Bad request (missing required scopes or invalid parameters)
  /v1/events/chart:
    get:
      tags:
        - Events
      operationId: getEventsChart
      summary: Get charting data for events
      description: Retrieve aggregated chart data for events with optional grouping and bucketing
      parameters:
        - name: dateRange
          in: query
          required: false
          schema:
            oneOf:
              - type: string
              - type: object
                properties:
                  $gte:
                    type: string
                    format: date-time
                  $lte:
                    type: string
                    format: date-time
          description: Date range filter (ISO string or object with $gte/$lte)
        - name: filters
          in: query
          required: false
          schema:
            oneOf:
              - type: array
                items:
                  type: object
              - type: string
          description: Array of filter objects or JSON string
        - name: metric
          in: query
          required: false
          schema:
            type: string
          description: Metric to aggregate (default 'duration')
        - name: groupBy
          in: query
          required: false
          schema:
            type: string
          description: Field to group by
        - name: bucket
          in: query
          required: false
          schema:
            type: string
            enum:
              - minute
              - minutes
              - 1m
              - hour
              - hours
              - 1h
              - day
              - days
              - 1d
              - week
              - weeks
              - 1w
              - month
              - months
              - 1M
          description: Time bucket for aggregation (default 'hour')
        - name: aggregation
          in: query
          required: false
          schema:
            type: string
            enum:
              - avg
              - average
              - mean
              - p50
              - p75
              - p90
              - p95
              - p99
              - count
              - sum
              - min
              - max
              - median
          description: Aggregation function (default 'average')
        - name: evaluation_id
          in: query
          required: false
          schema:
            type: string
          description: Filter by evaluation ID
        - name: only_experiments
          in: query
          required: false
          schema:
            oneOf:
              - type: boolean
              - type: string
          description: Filter to only experiment events
      responses:
        '200':
          description: Chart data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsChartResponse'
        '400':
          description: Bad request (missing required scopes or invalid parameters)
  /v1/events/{id}:
    get:
      tags:
        - Events
      operationId: getEventsBySessionId
      summary: Get nested events for a session
      description: Retrieve all nested events for a specific session ID. The `id` parameter is interpreted as a session_id for this operation.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Session ID (UUIDv4) - retrieves all events belonging to this session
      responses:
        '200':
          description: Session events retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsBySessionIdResponse'
        '400':
          description: Bad request (missing required scopes or invalid session ID)
    delete:
      tags:
        - Events
      operationId: deleteEvent
      summary: Delete an event
      description: Delete a specific event by event ID. The `id` parameter is interpreted as an event_id for this operation.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Event ID (UUIDv4) - the specific event to delete
      responses:
        '200':
          description: Event deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteEventResponse'
        '400':
          description: Bad request (missing required scopes or invalid event ID)
  /v1/events/export:
    post:
      tags:
        - Events
      operationId: exportEvents
      summary: Retrieve events based on filters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetEventsLegacyRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsLegacyResponse'
  /events/model:
    post:
      tags:
        - Events
      operationId: createModelEvent
      summary: Create a new model event
      description: Please refer to our instrumentation guide for detailed information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostModelEventRequest'
      responses:
        '200':
          description: Model event created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEventResponse'
              example:
                event_id: 7f22137a-6911-4ed3-bc36-110f1dde6b66
                success: true
  /events/batch:
    post:
      tags:
        - Events
      operationId: createEventBatch
      summary: Create a batch of events
      description: Please refer to our instrumentation guide for detailed information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostEventBatchRequest'
      responses:
        '200':
          description: Events created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEventBatchResponse'
              example:
                event_ids:
                  - 7f22137a-6911-4ed3-bc36-110f1dde6b66
                  - 7f22137a-6911-4ed3-bc36-110f1dde6b67
                session_id: caf77ace-3417-4da4-944d-f4a0688f3c23
                success: true
        '500':
          description: Events partially created
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_ids:
                    type: array
                    items:
                      type: string
                  errors:
                    type: array
                    items:
                      type: string
                      description: Any failure messages for events that could not be created
                  success:
                    type: boolean
                example:
                  event_ids:
                    - 7f22137a-6911-4ed3-bc36-110f1dde6b66
                    - 7f22137a-6911-4ed3-bc36-110f1dde6b67
                  errors:
                    - Could not create event due to missing inputs
                    - Could not create event due to missing source
                  success: true
  /events/model/batch:
    post:
      tags:
        - Events
      operationId: createModelEventBatch
      summary: Create a batch of model events
      description: Please refer to our instrumentation guide for detailed information
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostModelEventBatchRequest'
      responses:
        '200':
          description: Model events created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostEventBatchResponse'
              example:
                event_ids:
                  - 7f22137a-6911-4ed3-bc36-110f1dde6b66
                  - 7f22137a-6911-4ed3-bc36-110f1dde6b67
                success: true
        '500':
          description: Model events partially created
          content:
            application/json:
              schema:
                type: object
                properties:
                  event_ids:
                    type: array
                    items:
                      type: string
                  errors:
                    type: array
                    items:
                      type: string
                      description: Any failure messages for events that could not be created
                  success:
                    type: boolean
                example:
                  event_ids:
                    - 7f22137a-6911-4ed3-bc36-110f1dde6b66
                    - 7f22137a-6911-4ed3-bc36-110f1dde6b67
                  errors:
                    - Could not create event due to missing model
                    - Could not create event due to missing provider
                  success: true
  /v1/metrics:
    get:
      tags:
        - Metrics
      operationId: getMetrics
      summary: Get all metrics
      description: Retrieve a list of all metrics
      parameters:
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: Filter by metric type
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: Filter by specific metric ID
      responses:
        '200':
          description: A list of metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetMetricsResponse'
    post:
      tags:
        - Metrics
      operationId: createMetric
      summary: Create a new metric
      description: Add a new metric
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMetricRequest'
      responses:
        '200':
          description: Metric created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMetricResponse'
    put:
      tags:
        - Metrics
      operationId: updateMetric
      summary: Update an existing metric
      description: Edit a metric
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMetricRequest'
      responses:
        '200':
          description: Metric updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMetricResponse'
    delete:
      tags:
        - Metrics
      operationId: deleteMetric
      summary: Delete a metric
      description: Remove a metric
      parameters:
        - name: metric_id
          in: query
          required: true
          schema:
            type: string
            description: Unique identifier of the metric
      responses:
        '200':
          description: Metric deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMetricResponse'
  /v1/metrics/run_metric:
    post:
      tags:
        - Metrics
      operationId: runMetric
      summary: Run a metric evaluation
      description: Execute a metric on a specific event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunMetricRequest'
      responses:
        '200':
          description: Metric execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunMetricResponse'
  /v1/tools:
    get:
      tags:
        - Tools
      summary: Retrieve a list of tools
      operationId: getTools
      responses:
        '200':
          description: Successfully retrieved the list of tools
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetToolsResponse'
    post:
      tags:
        - Tools
      summary: Create a new tool
      operationId: createTool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateToolRequest'
      responses:
        '200':
          description: Tool successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateToolResponse'
    put:
      tags:
        - Tools
      summary: Update an existing tool
      operationId: updateTool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateToolRequest'
      responses:
        '200':
          description: Successfully updated the tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateToolResponse'
    delete:
      tags:
        - Tools
      summary: Delete a tool
      operationId: deleteTool
      parameters:
        - name: function_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully deleted the tool
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteToolResponse'
  /v1/datapoints:
    get:
      summary: Retrieve a list of datapoints
      operationId: getDatapoints
      tags:
        - Datapoints
      parameters:
        - name: datapoint_ids
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
          description: List of datapoint ids to fetch
        - name: dataset_name
          in: query
          required: false
          schema:
            type: string
          description: Name of the dataset to get datapoints from
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDatapointsResponse'
    post:
      summary: Create a new datapoint
      operationId: createDatapoint
      tags:
        - Datapoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatapointRequest'
      responses:
        '200':
          description: Datapoint successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDatapointResponse'
  /v1/datapoints/batch:
    post:
      summary: Create multiple datapoints in batch
      operationId: batchCreateDatapoints
      tags:
        - Datapoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateDatapointsRequest'
      responses:
        '200':
          description: Datapoints successfully created in batch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateDatapointsResponse'
  /v1/datapoints/{id}:
    get:
      summary: Retrieve a specific datapoint
      operationId: getDatapoint
      tags:
        - Datapoints
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Datapoint ID like `65c13dbbd65fb876b7886cdb`
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  datapoint:
                    type: array
                    items:
                      $ref: '#/components/schemas/GetDatapointResponse'
          description: Successful response
    put:
      summary: Update a specific datapoint
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: ID of datapoint to update
      operationId: updateDatapoint
      tags:
        - Datapoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatapointRequest'
      responses:
        '200':
          description: Datapoint successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDatapointResponse'
        '400':
          description: Error updating datapoint
    delete:
      summary: Delete a specific datapoint
      operationId: deleteDatapoint
      tags:
        - Datapoints
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Datapoint ID like `65c13dbbd65fb876b7886cdb`
      responses:
        '200':
          description: Datapoint successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDatapointResponse'
  /v1/datasets:
    get:
      tags:
        - Datasets
      summary: Get datasets
      operationId: getDatasets
      parameters:
        - in: query
          name: dataset_id
          required: false
          schema:
            type: string
          description: Unique dataset ID for filtering specific dataset
        - in: query
          name: name
          required: false
          schema:
            type: string
          description: Dataset name to filter by
        - in: query
          name: include_datapoints
          required: false
          schema:
            oneOf:
              - type: boolean
              - type: string
          description: Whether to include datapoints in the response
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDatasetsResponse'
    post:
      tags:
        - Datasets
      operationId: createDataset
      summary: Create a dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatasetRequest'
      responses:
        '200':
          description: Successful creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDatasetResponse'
    put:
      tags:
        - Datasets
      operationId: updateDataset
      summary: Update a dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetRequest'
      responses:
        '200':
          description: Successful update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDatasetResponse'
    delete:
      tags:
        - Datasets
      operationId: deleteDataset
      summary: Delete a dataset
      parameters:
        - in: query
          name: dataset_id
          required: true
          schema:
            type: string
          description: The unique identifier of the dataset to be deleted like `663876ec4611c47f4970f0c3`
      responses:
        '200':
          description: Successful delete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDatasetResponse'
  /v1/datasets/{dataset_id}/datapoints:
    post:
      tags:
        - Datasets
      summary: Add datapoints to a dataset
      operationId: addDatapoints
      parameters:
        - in: path
          name: dataset_id
          required: true
          schema:
            type: string
          description: The unique identifier of the dataset to add datapoints to like  `663876ec4611c47f4970f0c3`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDatapointsToDatasetRequest'
      responses:
        '200':
          description: Successful addition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddDatapointsResponse'
  /v1/datasets/{dataset_id}/datapoints/{datapoint_id}:
    delete:
      tags:
        - Datasets
      summary: Remove a datapoint from a dataset
      operationId: removeDatapoint
      parameters:
        - in: path
          name: dataset_id
          required: true
          schema:
            type: string
          description: The unique identifier of the dataset
        - in: path
          name: datapoint_id
          required: true
          schema:
            type: string
          description: The unique identifier of the datapoint to remove
      responses:
        '200':
          description: Datapoint successfully removed from dataset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveDatapointResponse'
  /v1/projects:
    get:
      tags:
        - Projects
      summary: Get a list of projects
      operationId: getProjects
      parameters:
        - in: query
          name: name
          required: false
          schema:
            type: string
          description: Filter projects by name
      responses:
        '200':
          description: A list of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectsResponse'
    post:
      tags:
        - Projects
      summary: Create a new project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostProjectRequest'
      responses:
        '200':
          description: The created project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostProjectResponse'
    put:
      tags:
        - Projects
      summary: Update an existing project
      operationId: updateProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutProjectRequest'
      responses:
        '200':
          description: Successfully updated the project
    delete:
      tags:
        - Projects
      summary: Delete a project
      operationId: deleteProject
      parameters:
        - in: query
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project deleted
  /v1/runs/schema:
    get:
      summary: Get experiment runs schema
      operationId: getExperimentRunsSchema
      tags:
        - Experiments
      description: Retrieve the schema and metadata for experiment runs
      parameters:
        - in: query
          name: dateRange
          required: false
          schema:
            oneOf:
              - type: string
              - type: object
                properties:
                  $gte:
                    oneOf:
                      - type: string
                      - type: number
                  $lte:
                    oneOf:
                      - type: string
                      - type: number
          description: Filter by date range
        - in: query
          name: evaluation_id
          required: false
          schema:
            type: string
          description: Filter by evaluation/run ID
      responses:
        '200':
          description: Experiment runs schema retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExperimentRunsSchemaResponse'
  /v1/runs:
    post:
      summary: Create a new evaluation run
      operationId: createRun
      tags:
        - Experiments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostExperimentRunRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostExperimentRunResponse'
        '400':
          description: Invalid input
    get:
      summary: Get a list of evaluation runs
      operationId: getRuns
      tags:
        - Experiments
      parameters:
        - in: query
          name: dataset_id
          required: false
          schema:
            type: string
          description: Filter by dataset ID
        - in: query
          name: page
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Number of results per page
        - in: query
          name: run_ids
          required: false
          schema:
            type: array
            items:
              type: string
          description: List of specific run IDs to fetch
        - in: query
          name: name
          required: false
          schema:
            type: string
          description: Filter by run name
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum:
              - pending
              - completed
              - failed
              - cancelled
              - running
          description: Filter by run status
        - in: query
          name: dateRange
          required: false
          schema:
            oneOf:
              - type: string
              - type: object
                properties:
                  $gte:
                    oneOf:
                      - type: string
                      - type: number
                  $lte:
                    oneOf:
                      - type: string
                      - type: number
          description: Filter by date range
        - in: query
          name: sort_by
          required: false
          schema:
            type: string
            enum:
              - created_at
              - updated_at
              - name
              - status
            default: created_at
          description: Field to sort by
        - in: query
          name: sort_order
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: Sort order
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExperimentRunsResponse'
        '400':
          description: Error fetching evaluations
  /v1/runs/{run_id}:
    get:
      summary: Get details of an evaluation run
      operationId: getRun
      tags:
        - Experiments
      parameters:
        - in: path
          name: run_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExperimentRunResponse'
        '400':
          description: Error fetching evaluation
    put:
      summary: Update an evaluation run
      operationId: updateRun
      tags:
        - Experiments
      parameters:
        - in: path
          name: run_id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutExperimentRunRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutExperimentRunResponse'
        '400':
          description: Invalid input
    delete:
      summary: Delete an evaluation run
      operationId: deleteRun
      tags:
        - Experiments
      parameters:
        - in: path
          name: run_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteExperimentRunResponse'
        '400':
          description: Error deleting evaluation
  /v1/runs/{run_id}/metrics:
    get:
      summary: Get event metrics for an experiment run
      operationId: getExperimentRunMetrics
      tags:
        - Experiments
      description: Retrieve event metrics from ClickHouse for a specific experiment run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Experiment run ID (UUIDv4)
        - name: dateRange
          in: query
          required: false
          schema:
            type: string
          description: Date range filter as JSON string
        - name: filters
          in: query
          required: false
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: object
          description: Optional filters to apply (JSON string or array of filter objects)
      responses:
        '200':
          description: Event metrics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                    description: Array of event objects with metrics
        '400':
          description: Error fetching event metrics
  /v1/runs/{run_id}/result:
    get:
      summary: Retrieve experiment result
      operationId: getExperimentResult
      tags:
        - Experiments
      description: Compute evaluation summary for an experiment run including pass/fail status, metrics, and datapoints
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Experiment run ID (UUIDv4)
        - name: aggregate_function
          in: query
          required: false
          schema:
            type: string
            enum:
              - average
              - min
              - max
              - median
              - p95
              - p99
              - p90
              - sum
              - count
            default: average
          description: Aggregation function to apply to metrics
        - name: filters
          in: query
          required: false
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: object
          description: Optional filters to apply (JSON string or array of filter objects)
      responses:
        '200':
          description: Experiment result retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExperimentRunResultResponse'
        '400':
          description: Error processing experiment result
  /v1/runs/{new_run_id}/compare-with/{old_run_id}:
    get:
      summary: Retrieve experiment comparison
      operationId: getExperimentComparison
      tags:
        - Experiments
      description: Compare metrics and results between two experiment runs
      parameters:
        - name: new_run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: New experiment run ID to compare (UUIDv4)
        - name: old_run_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Old experiment run ID to compare against (UUIDv4)
        - name: aggregate_function
          in: query
          required: false
          schema:
            type: string
            enum:
              - average
              - min
              - max
              - median
              - p95
              - p99
              - p90
              - sum
              - count
            default: average
          description: Aggregation function to apply to metrics
        - name: filters
          in: query
          required: false
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: object
          description: Optional filters to apply (JSON string or array of filter objects)
      responses:
        '200':
          description: Experiment comparison retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetExperimentRunCompareResponse'
        '400':
          description: Error processing experiment comparison
  /v1/runs/compare/events:
    get:
      summary: Compare events between two experiment runs
      operationId: getExperimentCompareEvents
      tags:
        - Experiments
      description: Retrieve and compare events between two experiment runs for detailed analysis
      parameters:
        - name: run_id_1
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: First experiment run ID (UUIDv4)
        - name: run_id_2
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Second experiment run ID (UUIDv4)
        - name: event_name
          in: query
          required: false
          schema:
            type: string
          description: Filter by event name
        - name: event_type
          in: query
          required: false
          schema:
            type: string
          description: Filter by event type
        - name: filter
          in: query
          required: false
          schema:
            oneOf:
              - type: string
              - type: object
          description: Additional filter criteria (JSON string or object)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
          description: Maximum number of results
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number for pagination
      responses:
        '200':
          description: Event comparison retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                    description: Array of matched event pairs from both runs
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
        '400':
          description: Error fetching event comparison
  /v1/configurations:
    get:
      summary: Retrieve a list of configurations
      operationId: getConfigurations
      tags:
        - Configurations
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: The name of the configuration like `v0`
        - name: env
          in: query
          required: false
          schema:
            type: string
          description: Environment - "dev", "staging" or "prod"
        - name: tags
          in: query
          required: false
          schema:
            type: string
          description: Tags to filter configurations
      responses:
        '200':
          description: An array of configurations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GetConfigurationsResponse'
    post:
      summary: Create a new configuration
      operationId: createConfiguration
      tags:
        - Configurations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConfigurationRequest'
      responses:
        '200':
          description: Configuration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateConfigurationResponse'
  /v1/configurations/{id}:
    put:
      summary: Update an existing configuration
      operationId: updateConfiguration
      tags:
        - Configurations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Configuration ID like `6638187d505c6812e4043f24`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConfigurationRequest'
      responses:
        '200':
          description: Configuration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateConfigurationResponse'
    delete:
      summary: Delete a configuration
      operationId: deleteConfiguration
      tags:
        - Configurations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Configuration ID like `6638187d505c6812e4043f24`
      responses:
        '200':
          description: Configuration deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteConfigurationResponse'
components:
  schemas:
    CreateConfigurationRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 200
        type:
          type: string
          enum: &ref_0
            - LLM
            - pipeline
          default: LLM
        provider:
          type: string
          minLength: 1
        parameters:
          type: object
          properties:
            call_type:
              type: string
              enum: &ref_1
                - chat
                - completion
            model:
              type: string
              minLength: 1
            hyperparameters:
              type: object
              additionalProperties: {}
            responseFormat:
              type: object
              properties:
                type:
                  type: string
                  enum: &ref_2
                    - text
                    - json_object
              required:
                - type
            selectedFunctions:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  name:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  parameters:
                    type: object
                    additionalProperties: {}
                required:
                  - id
                  - name
            functionCallParams:
              type: string
              enum: &ref_3
                - none
                - auto
                - force
            forceFunction:
              type: object
              additionalProperties: {}
            template:
              anyOf:
                - type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                      content:
                        type: string
                    required:
                      - role
                      - content
                - type: string
          required:
            - call_type
            - model
        env:
          type: array
          items:
            type: string
            enum: &ref_4
              - dev
              - staging
              - prod
        tags:
          type: array
          items:
            type: string
        user_properties:
          type:
            - object
            - 'null'
          additionalProperties: {}
      required:
        - name
        - provider
        - parameters
      additionalProperties: false
    UpdateConfigurationRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 200
        type:
          type: string
          enum: *ref_0
          default: LLM
        provider:
          type: string
          minLength: 1
        parameters:
          type: object
          properties:
            call_type:
              type: string
              enum: *ref_1
            model:
              type: string
              minLength: 1
            hyperparameters:
              type: object
              additionalProperties: {}
            responseFormat:
              type: object
              properties:
                type:
                  type: string
                  enum: *ref_2
              required:
                - type
            selectedFunctions:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                  name:
                    type: string
                    minLength: 1
                  description:
                    type: string
                  parameters:
                    type: object
                    additionalProperties: {}
                required:
                  - id
                  - name
            functionCallParams:
              type: string
              enum: *ref_3
            forceFunction:
              type: object
              additionalProperties: {}
            template:
              anyOf:
                - type: array
                  items:
                    type: object
                    properties:
                      role:
                        type: string
                      content:
                        type: string
                    required:
                      - role
                      - content
                - type: string
          required:
            - call_type
            - model
        env:
          type: array
          items:
            type: string
            enum: *ref_4
        tags:
          type: array
          items:
            type: string
        user_properties:
          type:
            - object
            - 'null'
          additionalProperties: {}
      required:
        - name
      additionalProperties: false
    GetConfigurationsQuery:
      type: object
      properties:
        name:
          type: string
          maxLength: 200
        env:
          type: string
        tags:
          type: string
    CreateConfigurationResponse:
      type: object
      properties:
        acknowledged:
          type: boolean
        insertedId:
          type: string
          minLength: 1
      required:
        - acknowledged
        - insertedId
    UpdateConfigurationResponse:
      type: object
      properties:
        acknowledged:
          type: boolean
        modifiedCount:
          type: number
        upsertedId:
          type: 'null'
        upsertedCount:
          type: number
        matchedCount:
          type: number
      required:
        - acknowledged
        - modifiedCount
        - upsertedId
        - upsertedCount
        - matchedCount
    DeleteConfigurationResponse:
      type: object
      properties:
        acknowledged:
          type: boolean
        deletedCount:
          type: number
      required:
        - acknowledged
        - deletedCount
    GetConfigurationsResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            minLength: 1
          name:
            type: string
          type:
            type: string
            enum: *ref_0
            default: LLM
          provider:
            type: string
          parameters:
            type: object
            properties:
              call_type:
                type: string
                enum: *ref_1
              model:
                type: string
                minLength: 1
              hyperparameters:
                type: object
                additionalProperties: {}
              responseFormat:
                type: object
                properties:
                  type:
                    type: string
                    enum: *ref_2
                required:
                  - type
              selectedFunctions:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      minLength: 1
                    name:
                      type: string
                      minLength: 1
                    description:
                      type: string
                    parameters:
                      type: object
                      additionalProperties: {}
                  required:
                    - id
                    - name
              functionCallParams:
                type: string
                enum: *ref_3
              forceFunction:
                type: object
                additionalProperties: {}
              template:
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        role:
                          type: string
                        content:
                          type: string
                      required:
                        - role
                        - content
                  - type: string
            required:
              - call_type
              - model
          env:
            type: array
            items:
              type: string
              enum: *ref_4
          tags:
            type: array
            items:
              type: string
          user_properties:
            type:
              - object
              - 'null'
            additionalProperties: {}
          created_at:
            type: string
          updated_at:
            type:
              - string
              - 'null'
        required:
          - id
          - name
          - provider
          - parameters
          - env
          - tags
          - created_at
    GetDatapointsQuery:
      type: object
      properties:
        datapoint_ids:
          type: array
          items:
            type: string
            minLength: 1
        dataset_name:
          type: string
          maxLength: 200
      additionalProperties: false
    GetDatapointParams:
      type: object
      properties:
        id:
          type: string
          minLength: 1
      required:
        - id
    CreateDatapointRequest:
      type: object
      properties:
        inputs:
          type: object
          additionalProperties: {}
          default: &ref_5 {}
        history:
          type: array
          items:
            type: object
            additionalProperties: {}
            default: *ref_5
          default: []
        ground_truth:
          type: object
          additionalProperties: {}
          default: *ref_5
        metadata:
          type: object
          additionalProperties: {}
          default: *ref_5
        linked_event:
          type: string
        linked_datasets:
          type: array
          items:
            type: string
            minLength: 1
          default: []
    UpdateDatapointRequest:
      type: object
      properties:
        inputs:
          type: object
          additionalProperties: {}
          default: *ref_5
        history:
          type: array
          items:
            type: object
            additionalProperties: {}
            default: *ref_5
        ground_truth:
          type: object
          additionalProperties: {}
          default: *ref_5
        metadata:
          type: object
          additionalProperties: {}
          default: *ref_5
        linked_event:
          type: string
        linked_datasets:
          type: array
          items:
            type: string
            minLength: 1
    UpdateDatapointParams:
      type: object
      properties:
        datapoint_id:
          type: string
          minLength: 1
      required:
        - datapoint_id
    DeleteDatapointParams:
      type: object
      properties:
        datapoint_id:
          type: string
          minLength: 1
      required:
        - datapoint_id
    BatchCreateDatapointsRequest:
      type: object
      properties:
        events:
          type: array
          items:
            type: string
            minLength: 1
        mapping:
          type: object
          properties:
            inputs:
              type: array
              items:
                type: string
              default: &ref_6 []
            history:
              type: array
              items:
                type: string
              default: &ref_7 []
            ground_truth:
              type: array
              items:
                type: string
              default: &ref_8 []
        filters:
          anyOf:
            - type: object
              additionalProperties: {}
              default: *ref_5
            - type: array
              items:
                type: object
                additionalProperties: {}
                default: *ref_5
        dateRange:
          type: object
          properties:
            $gte:
              type: string
            $lte:
              type: string
        checkState:
          type: object
          additionalProperties:
            type: boolean
        selectAll:
          type: boolean
        dataset_id:
          type: string
          minLength: 1
    GetDatapointsResponse:
      type: object
      properties:
        datapoints:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 1
              inputs:
                type: object
                additionalProperties: {}
                default: *ref_5
              history:
                type: array
                items:
                  type: object
                  additionalProperties: {}
                  default: *ref_5
              ground_truth:
                type:
                  - object
                  - 'null'
                additionalProperties: {}
                default: *ref_5
              metadata:
                type:
                  - object
                  - 'null'
                additionalProperties: {}
                default: *ref_5
              linked_event:
                anyOf:
                  - type: string
                  - type: 'null'
                  - type: 'null'
              created_at:
                type: string
              updated_at:
                type: string
              linked_datasets:
                type: array
                items:
                  type: string
            required:
              - id
              - history
              - linked_event
              - created_at
              - updated_at
      required:
        - datapoints
    GetDatapointResponse:
      type: object
      properties:
        datapoint:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 1
              inputs:
                type: object
                additionalProperties: {}
                default: *ref_5
              history:
                type: array
                items:
                  type: object
                  additionalProperties: {}
                  default: *ref_5
              ground_truth:
                type:
                  - object
                  - 'null'
                additionalProperties: {}
                default: *ref_5
              metadata:
                type:
                  - object
                  - 'null'
                additionalProperties: {}
                default: *ref_5
              linked_event:
                anyOf:
                  - type: string
                  - type: 'null'
                  - type: 'null'
              created_at:
                type: string
              updated_at:
                type: string
              linked_datasets:
                type: array
                items:
                  type: string
            required:
              - id
              - history
              - linked_event
              - created_at
              - updated_at
      required:
        - datapoint
    CreateDatapointResponse:
      type: object
      properties:
        inserted:
          type: boolean
        result:
          type: object
          properties:
            insertedIds:
              type: array
              items:
                type: string
                minLength: 1
          required:
            - insertedIds
      required:
        - inserted
        - result
    UpdateDatapointResponse:
      type: object
      properties:
        updated:
          type: boolean
        result:
          type: object
          properties:
            modifiedCount:
              type: number
          required:
            - modifiedCount
      required:
        - updated
        - result
    DeleteDatapointResponse:
      type: object
      properties:
        deleted:
          type: boolean
      required:
        - deleted
    BatchCreateDatapointsResponse:
      type: object
      properties:
        inserted:
          type: boolean
        insertedIds:
          type: array
          items:
            type: string
            minLength: 1
      required:
        - inserted
        - insertedIds
    CreateDatasetRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 200
          default: Dataset 1/13
        description:
          type: string
        datapoints:
          type: array
          items:
            type: string
            minLength: 1
          default: []
      required:
        - name
    UpdateDatasetRequest:
      type: object
      properties:
        dataset_id:
          type: string
          minLength: 1
        name:
          type: string
          maxLength: 200
        description:
          type: string
        datapoints:
          type: array
          items:
            type: string
            minLength: 1
      required:
        - dataset_id
    GetDatasetsQuery:
      type: object
      properties:
        dataset_id:
          type: string
          minLength: 1
        name:
          type: string
          maxLength: 200
        include_datapoints:
          anyOf:
            - type: boolean
            - type: string
    DeleteDatasetQuery:
      type: object
      properties:
        dataset_id:
          type: string
          minLength: 1
      required:
        - dataset_id
    AddDatapointsToDatasetRequest:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: {}
            default: *ref_5
          minItems: 1
        mapping:
          type: object
          properties:
            inputs:
              type: array
              items:
                type: string
              default: *ref_6
            history:
              type: array
              items:
                type: string
              default: *ref_7
            ground_truth:
              type: array
              items:
                type: string
              default: *ref_8
      required:
        - data
        - mapping
    RemoveDatapointFromDatasetParams:
      type: object
      properties:
        dataset_id:
          type: string
          minLength: 1
        datapoint_id:
          type: string
          minLength: 1
      required:
        - dataset_id
        - datapoint_id
    CreateDatasetResponse:
      type: object
      properties:
        inserted:
          type: boolean
        result:
          type: object
          properties:
            insertedId:
              type: string
              minLength: 1
          required:
            - insertedId
      required:
        - inserted
        - result
    UpdateDatasetResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            id:
              type: string
              minLength: 1
            name:
              type: string
              maxLength: 200
            description:
              type: string
            datapoints:
              type: array
              items:
                type: string
                minLength: 1
              default: []
            created_at:
              type: string
            updated_at:
              type: string
          required:
            - id
            - name
      required:
        - result
    GetDatasetsResponse:
      type: object
      properties:
        datapoints:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 1
              name:
                type: string
                maxLength: 200
              description:
                type:
                  - string
                  - 'null'
              datapoints:
                type: array
                items:
                  type: string
                  minLength: 1
                default: []
              created_at:
                type: string
              updated_at:
                type: string
            required:
              - id
              - name
      required:
        - datapoints
    DeleteDatasetResponse:
      type: object
      properties:
        result:
          type: object
          properties:
            id:
              type: string
              minLength: 1
          required:
            - id
      required:
        - result
    AddDatapointsResponse:
      type: object
      properties:
        inserted:
          type: boolean
        datapoint_ids:
          type: array
          items:
            type: string
            minLength: 1
      required:
        - inserted
        - datapoint_ids
    RemoveDatapointResponse:
      type: object
      properties:
        dereferenced:
          type: boolean
        message:
          type: string
      required:
        - dereferenced
        - message
    Event:
      type: object
      properties:
        event_id:
          type: string
        project_id:
          type: string
        tenant:
          type: string
        event_name:
          type: string
        event_type:
          type: string
        metrics:
          type: object
          additionalProperties: {}
        metadata:
          type: object
          additionalProperties: {}
        feedback:
          type: object
          properties:
            ground_truth: {}
      required:
        - event_id
        - project_id
        - tenant
    LegacyEvent:
      type: object
      properties:
        project:
          type: string
          description: Project name
        project_id:
          type: string
          description: Project ID
        source:
          type: string
          description: Source of the event
        event_name:
          type: string
          description: Name of the event
        event_type:
          type: string
          enum: &ref_14
            - model
            - tool
            - chain
            - session
        event_id:
          type: string
        session_id:
          type: string
        parent_id:
          type: string
        children_ids:
          type: array
          items:
            type: string
        config:
          type: object
          additionalProperties: {}
        inputs:
          type: object
          additionalProperties: {}
        outputs:
          type: object
          additionalProperties: {}
        error:
          type:
            - string
            - 'null'
        start_time:
          type: number
        end_time:
          type: number
        duration:
          type: number
        metadata:
          type: object
          additionalProperties: {}
        feedback:
          type: object
          additionalProperties: {}
        metrics:
          type: object
          additionalProperties: {}
        user_properties:
          type: object
          additionalProperties: {}
      required:
        - project
      description: Full event object for legacy event creation endpoints
    SessionProperties:
      type: object
      properties:
        session_name:
          type: string
        user_properties:
          type: object
          additionalProperties: {}
        metadata:
          type: object
          additionalProperties: {}
      description: Session properties for batch event creation
    SingleFilter:
      type: object
      properties:
        field:
          type: string
        operator:
          anyOf:
            - type: string
              enum: &ref_9
                - exists
                - not exists
                - is
                - is not
                - contains
                - not contains
            - type: string
              enum: &ref_10
                - exists
                - not exists
                - is
                - is not
                - greater than
                - less than
            - type: string
              enum: &ref_11
                - exists
                - not exists
                - is
            - type: string
              enum: &ref_12
                - exists
                - not exists
                - is
                - is not
                - after
                - before
        value:
          anyOf:
            - type: string
            - type: number
            - type: boolean
            - type: 'null'
            - type: 'null'
        type:
          type: string
          enum: &ref_13
            - string
            - number
            - boolean
            - datetime
      required:
        - field
        - operator
        - value
        - type
    PostEventRequest:
      type: object
      properties:
        event:
          type: object
          properties:
            event_id:
              type: string
            project_id:
              type: string
            tenant:
              type: string
            event_name:
              type: string
            event_type:
              type: string
            metrics:
              type: object
              additionalProperties: {}
            metadata:
              type: object
              additionalProperties: {}
            feedback:
              type: object
              properties:
                ground_truth: {}
          required:
            - event_id
            - project_id
            - tenant
      required:
        - event
      description: Request to create a new event
    GetEventsLegacyRequest:
      type: object
      properties:
        project:
          type: string
          description: Name of the project
        filters:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              operator:
                anyOf:
                  - type: string
                    enum: *ref_9
                  - type: string
                    enum: *ref_10
                  - type: string
                    enum: *ref_11
                  - type: string
                    enum: *ref_12
              value:
                anyOf:
                  - type: string
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: 'null'
              type:
                type: string
                enum: *ref_13
            required:
              - field
              - operator
              - value
              - type
          description: Array of filter conditions
        dateRange:
          type: object
          properties:
            $gte:
              type: string
              description: ISO String for start of date range
            $lte:
              type: string
              description: ISO String for end of date range
          required:
            - $gte
            - $lte
        projections:
          type: array
          items:
            type: string
          description: Fields to include
        limit:
          type: number
          description: Limit number of results
        page:
          type: number
          description: Page number of results
      required:
        - project
        - filters
      description: Request body for GET /events legacy endpoint
    PostModelEventRequest:
      type: object
      properties:
        model_event:
          type: object
          properties:
            project:
              type: string
              description: Project name
            project_id:
              type: string
              description: Project ID
            source:
              type: string
              description: Source of the event
            event_name:
              type: string
              description: Name of the event
            event_type:
              type: string
              enum: *ref_14
            event_id:
              type: string
            session_id:
              type: string
            parent_id:
              type: string
            children_ids:
              type: array
              items:
                type: string
            config:
              type: object
              additionalProperties: {}
            inputs:
              type: object
              additionalProperties: {}
            outputs:
              type: object
              additionalProperties: {}
            error:
              type:
                - string
                - 'null'
            start_time:
              type: number
            end_time:
              type: number
            duration:
              type: number
            metadata:
              type: object
              additionalProperties: {}
            feedback:
              type: object
              additionalProperties: {}
            metrics:
              type: object
              additionalProperties: {}
            user_properties:
              type: object
              additionalProperties: {}
          required:
            - project
          description: Full event object for legacy event creation endpoints
      required:
        - model_event
      description: Request body for POST /events/model
    PostEventBatchRequest:
      type: object
      properties:
        events:
          type: array
          items:
            type: object
            properties:
              project:
                type: string
                description: Project name
              project_id:
                type: string
                description: Project ID
              source:
                type: string
                description: Source of the event
              event_name:
                type: string
                description: Name of the event
              event_type:
                type: string
                enum: *ref_14
              event_id:
                type: string
              session_id:
                type: string
              parent_id:
                type: string
              children_ids:
                type: array
                items:
                  type: string
              config:
                type: object
                additionalProperties: {}
              inputs:
                type: object
                additionalProperties: {}
              outputs:
                type: object
                additionalProperties: {}
              error:
                type:
                  - string
                  - 'null'
              start_time:
                type: number
              end_time:
                type: number
              duration:
                type: number
              metadata:
                type: object
                additionalProperties: {}
              feedback:
                type: object
                additionalProperties: {}
              metrics:
                type: object
                additionalProperties: {}
              user_properties:
                type: object
                additionalProperties: {}
            required:
              - project
            description: Full event object for legacy event creation endpoints
          description: Array of events to create
        is_single_session:
          type: boolean
          description: If true, all events share the same session
        session_properties:
          type: object
          properties:
            session_name:
              type: string
            user_properties:
              type: object
              additionalProperties: {}
            metadata:
              type: object
              additionalProperties: {}
          description: Session properties for batch event creation
      required:
        - events
      description: Request body for POST /events/batch
    PostModelEventBatchRequest:
      type: object
      properties:
        model_events:
          type: array
          items:
            type: object
            properties:
              project:
                type: string
                description: Project name
              project_id:
                type: string
                description: Project ID
              source:
                type: string
                description: Source of the event
              event_name:
                type: string
                description: Name of the event
              event_type:
                type: string
                enum: *ref_14
              event_id:
                type: string
              session_id:
                type: string
              parent_id:
                type: string
              children_ids:
                type: array
                items:
                  type: string
              config:
                type: object
                additionalProperties: {}
              inputs:
                type: object
                additionalProperties: {}
              outputs:
                type: object
                additionalProperties: {}
              error:
                type:
                  - string
                  - 'null'
              start_time:
                type: number
              end_time:
                type: number
              duration:
                type: number
              metadata:
                type: object
                additionalProperties: {}
              feedback:
                type: object
                additionalProperties: {}
              metrics:
                type: object
                additionalProperties: {}
              user_properties:
                type: object
                additionalProperties: {}
            required:
              - project
            description: Full event object for legacy event creation endpoints
          description: Array of model events to create
        is_single_session:
          type: boolean
          description: If true, all events share the same session
        session_properties:
          type: object
          properties:
            session_name:
              type: string
            user_properties:
              type: object
              additionalProperties: {}
            metadata:
              type: object
              additionalProperties: {}
          description: Session properties for batch event creation
      required:
        - model_events
      description: Request body for POST /events/model/batch
    GetEventsQuery:
      type: object
      properties:
        dateRange:
          anyOf:
            - type: object
              properties:
                relative:
                  type: string
              required:
                - relative
              additionalProperties: false
            - type: object
              properties:
                $gte:
                  type: string
                $lte:
                  type: string
              required:
                - $gte
                - $lte
              additionalProperties: false
        filters:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              operator:
                anyOf:
                  - type: string
                    enum: *ref_9
                  - type: string
                    enum: *ref_10
                  - type: string
                    enum: *ref_11
                  - type: string
                    enum: *ref_12
              value:
                anyOf:
                  - type: string
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: 'null'
              type:
                type: string
                enum: *ref_13
            required:
              - field
              - operator
              - value
              - type
        projections:
          type: array
          items:
            type: string
        ignore_order:
          type:
            - boolean
            - 'null'
        limit:
          type:
            - number
            - 'null'
        page:
          type:
            - number
            - 'null'
        evaluation_id:
          type: string
      description: Query parameters for GET /events
    GetEventsChartQuery:
      type: object
      properties:
        dateRange:
          anyOf:
            - type: object
              properties:
                relative:
                  type: string
              required:
                - relative
              additionalProperties: false
            - type: object
              properties:
                $gte:
                  type: string
                $lte:
                  type: string
              required:
                - $gte
                - $lte
              additionalProperties: false
        filters:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              operator:
                anyOf:
                  - type: string
                    enum: *ref_9
                  - type: string
                    enum: *ref_10
                  - type: string
                    enum: *ref_11
                  - type: string
                    enum: *ref_12
              value:
                anyOf:
                  - type: string
                  - type: number
                  - type: boolean
                  - type: 'null'
                  - type: 'null'
              type:
                type: string
                enum: *ref_13
            required:
              - field
              - operator
              - value
              - type
        metric:
          type: string
        groupBy:
          type: string
        bucket:
          type: string
        aggregation:
          type: string
        evaluation_id:
          type: string
        only_experiments:
          type:
            - boolean
            - 'null'
      description: Query parameters for GET /events/chart
    GetEventsBySessionIdParams:
      type: object
      properties:
        session_id:
          type: string
      required:
        - session_id
      description: Path parameters for GET /events/:session_id
    DeleteEventParams:
      type: object
      properties:
        event_id:
          type: string
      required:
        - event_id
      description: Path parameters for DELETE /events/:event_id
    PostEventResponse:
      type: object
      properties:
        success:
          type: boolean
        event_id:
          type: string
      required:
        - success
      description: Response after creating an event
    GetEventsResponse:
      type: object
      properties:
        events:
          type: array
          items: {}
        totalEvents:
          type: number
      required:
        - events
        - totalEvents
    GetEventsLegacyResponse:
      type: object
      properties:
        events:
          type: array
          items:
            type: object
            properties:
              project:
                type: string
                description: Project name
              project_id:
                type: string
                description: Project ID
              source:
                type: string
                description: Source of the event
              event_name:
                type: string
                description: Name of the event
              event_type:
                type: string
                enum: *ref_14
              event_id:
                type: string
              session_id:
                type: string
              parent_id:
                type: string
              children_ids:
                type: array
                items:
                  type: string
              config:
                type: object
                additionalProperties: {}
              inputs:
                type: object
                additionalProperties: {}
              outputs:
                type: object
                additionalProperties: {}
              error:
                type:
                  - string
                  - 'null'
              start_time:
                type: number
              end_time:
                type: number
              duration:
                type: number
              metadata:
                type: object
                additionalProperties: {}
              feedback:
                type: object
                additionalProperties: {}
              metrics:
                type: object
                additionalProperties: {}
              user_properties:
                type: object
                additionalProperties: {}
            required:
              - project
            description: Full event object for legacy event creation endpoints
        totalEvents:
          type: number
      required:
        - events
        - totalEvents
      description: Response for GET /events legacy endpoint
    GetEventsChartResponse:
      type: object
      properties:
        events:
          type: array
          items: {}
        totalEvents:
          type: number
      required:
        - events
        - totalEvents
      description: Chart data response for events
    GetEventsBySessionIdResponse:
      type: object
      properties:
        event_id:
          type: string
        event_type:
          type: string
          enum: &ref_18
            - session
            - model
            - chain
            - tool
        event_name:
          type: string
        children:
          type: array
          items: {}
        start_time:
          type: number
        end_time:
          type: number
        duration:
          type: number
        metadata:
          type: object
          properties:
            num_events:
              type: number
            num_model_events:
              type: number
            has_feedback:
              type: boolean
            cost:
              type: number
            total_tokens:
              type: number
            prompt_tokens:
              type: number
            completion_tokens:
              type: number
            scope:
              type: object
              properties:
                name:
                  type: string
        parent_id:
          type: string
        session_id:
          type: string
        children_ids:
          type: array
          items:
            type: string
        config: {}
        inputs: {}
        outputs: {}
        error:
          type: string
        source:
          type: string
        user_properties: {}
        metrics: {}
        feedback: {}
        org_id:
          type: string
        workspace_id:
          type: string
        project_id:
          type: string
      required:
        - event_id
        - event_type
        - event_name
        - children
        - start_time
        - end_time
        - duration
        - metadata
        - org_id
        - workspace_id
        - project_id
      description: Event node in session tree with nested children
    DeleteEventResponse:
      type: object
      properties:
        success:
          type: boolean
        deleted:
          type: string
      required:
        - success
        - deleted
      description: Response for DELETE /events/:event_id
    PostEventBatchResponse:
      type: object
      properties:
        event_ids:
          type: array
          items:
            type: string
        session_id:
          type: string
        success:
          type: boolean
      required:
        - event_ids
        - success
      description: Response for POST /events/batch
    PostExperimentRunRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
            - cancelled
            - running
          default: pending
        metadata:
          type: object
          additionalProperties: {}
          default: *ref_5
        results:
          type: object
          additionalProperties: {}
          default: *ref_5
        dataset_id:
          type:
            - string
            - 'null'
        event_ids:
          type: array
          items:
            type: string
          default: []
        configuration:
          type: object
          additionalProperties: {}
          default: *ref_5
        evaluators:
          type: array
          items: {}
          default: []
        session_ids:
          type: array
          items:
            type: string
          default: []
        datapoint_ids:
          type: array
          items:
            type: string
            minLength: 1
          default: []
        passing_ranges:
          type: object
          additionalProperties: {}
          default: *ref_5
    PutExperimentRunRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
            - cancelled
            - running
        metadata:
          type: object
          additionalProperties: {}
          default: *ref_5
        results:
          type: object
          additionalProperties: {}
          default: *ref_5
        event_ids:
          type: array
          items:
            type: string
        configuration:
          type: object
          additionalProperties: {}
          default: *ref_5
        evaluators:
          type: array
          items: {}
        session_ids:
          type: array
          items:
            type: string
        datapoint_ids:
          type: array
          items:
            type: string
            minLength: 1
        passing_ranges:
          type: object
          additionalProperties: {}
          default: *ref_5
    GetExperimentRunsQuery:
      type: object
      properties:
        dataset_id:
          type: string
          minLength: 1
        page:
          type: integer
          minimum: 1
          default: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        run_ids:
          type: array
          items:
            type: string
        name:
          type: string
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
            - cancelled
            - running
        dateRange:
          anyOf:
            - type: string
            - type: object
              properties:
                $gte:
                  anyOf:
                    - type: string
                    - type: number
                $lte:
                  anyOf:
                    - type: string
                    - type: number
              required:
                - $gte
                - $lte
        sort_by:
          type: string
          enum:
            - created_at
            - updated_at
            - name
            - status
          default: created_at
        sort_order:
          type: string
          enum:
            - asc
            - desc
          default: desc
    GetExperimentRunParams:
      type: object
      properties:
        run_id:
          type: string
      required:
        - run_id
    GetExperimentRunMetricsQuery:
      type: object
      properties:
        dateRange:
          type: string
        filters:
          anyOf:
            - type: string
            - type: array
              items: {}
    GetExperimentRunResultQuery:
      type: object
      properties:
        aggregate_function:
          type: string
          default: average
        filters:
          anyOf:
            - type: string
            - type: array
              items: {}
    GetExperimentRunCompareParams:
      type: object
      properties:
        new_run_id:
          type: string
        old_run_id:
          type: string
      required:
        - new_run_id
        - old_run_id
    GetExperimentRunCompareQuery:
      type: object
      properties:
        aggregate_function:
          type: string
          default: average
        filters:
          anyOf:
            - type: string
            - type: array
              items: {}
    GetExperimentRunCompareEventsQuery:
      type: object
      properties:
        run_id_1:
          type: string
        run_id_2:
          type: string
        event_name:
          type: string
        event_type:
          type: string
        filter:
          anyOf:
            - type: string
            - type: object
              additionalProperties: {}
        limit:
          type: integer
          exclusiveMinimum: 0
          maximum: 1000
          default: 1000
        page:
          type: integer
          exclusiveMinimum: 0
          default: 1
      required:
        - run_id_1
        - run_id_2
    DeleteExperimentRunParams:
      type: object
      properties:
        run_id:
          type: string
      required:
        - run_id
    GetExperimentRunsSchemaQuery:
      type: object
      properties:
        dateRange:
          anyOf:
            - type: string
            - type: object
              properties:
                $gte:
                  anyOf:
                    - type: string
                    - type: number
                $lte:
                  anyOf:
                    - type: string
                    - type: number
              required:
                - $gte
                - $lte
        evaluation_id:
          type: string
    PostExperimentRunResponse:
      type: object
      properties:
        evaluation: {}
        run_id:
          type: string
      required:
        - run_id
    PutExperimentRunResponse:
      type: object
      properties:
        evaluation: {}
        warning:
          type: string
    GetExperimentRunsResponse:
      type: object
      properties:
        evaluations:
          type: array
          items: {}
        pagination:
          type: object
          properties:
            page:
              type: integer
              minimum: 1
            limit:
              type: integer
              minimum: 1
            total:
              type: integer
              minimum: 0
            total_unfiltered:
              type: integer
              minimum: 0
            total_pages:
              type: integer
              minimum: 0
            has_next:
              type: boolean
            has_prev:
              type: boolean
          required:
            - page
            - limit
            - total
            - total_unfiltered
            - total_pages
            - has_next
            - has_prev
        metrics:
          type: array
          items:
            type: string
      required:
        - evaluations
        - pagination
        - metrics
    GetExperimentRunResponse:
      type: object
      properties:
        evaluation: {}
    GetExperimentRunResultResponse:
      type: object
      properties:
        status:
          type: string
        success:
          type: boolean
        error:
          type: string
        passed:
          type: array
          items:
            type: string
        failed:
          type: array
          items:
            type: string
        metrics:
[...]
